# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/vagrant.xml
.idea/workspace.xml
MNIST_data/
PTB_DATA/1-train/
PTB_DATA/2-nbest-rescore/
PTB_DATA/3-combination/
PTB_DATA/4-data-generation/
PTB_DATA/5-one-iter/
PTB_DATA/6-recovery-during-training/
PTB_DATA/7-dynamic-evaluation/
PTB_DATA/8-direct/
PTB_DATA/9-char-based-lm/
PTB_DATA/models/
PTB_DATA/rnnlm-0.2b/
PTB_DATA/temp/
__pycache__/
cnn_text_.py
model_logs/
run_kld0.62
sentences.txt
trained_embeddings/
utils/__pycache__/
utils/ptb/__pycache__/
vae_lstm-dil_cnn.py
dilated_conv_mnist_test.py
